<!-- create container to signify the footer component-->
<div class="container">
    <div class="row justify-content-between">
        <div class="col-9 pt-2">
            <!-- restaurant columns -->
            <p class="text-decoration-underline">Restaurants</p>
            <div class="row pt-1 ms-2">
                <!--Column for evansdale restaurnants-->
                <ul class="col-3 me-3">
                    <!--Footer Listing Evansdale Restaurants-->
                    Evansdale:
                    <!-- Evansdale Restaurants -->
                    <li style="list-style-type: none; padding-top: 10px;"><a href="#">&emsp;Waldo's Chicken</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Hugh-Baby's</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Let's Go...Tacos!</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;World of Wings (WOW) Café</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;York Street Market</a></li>
                </ul>
                <!-- Column for Mountainlair Restaurants -->
                <ul class="col-3 ms-5 me-3">
                    <!--Footer Listing Mountainlair Restaurants-->
                    Mountainlair:
                    <!-- Mountainlair restaurants-->
                    <li style="list-style-type: none; padding-top: 10px;"><a href="#">&emsp;Chick-fil-A</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Jazzmans</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Panda Express</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Taziki's</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Tres Habaneros</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Which Wich</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;York Street Market</a></li>
                </ul>
                <!-- Column for Health Sciences Restaurants -->
                <ul class="col-3 ms-5">

                    <!-- Health Science Restaurants -->
                    Health Sciences:
                    <li style="list-style-type: none; padding-top: 10px;"><a href="#">&emsp;Burgershop</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Chick-fil-A</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Hissho Sushi</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Jazzmans at Cavanaugh's</a></li>
                    <li style="list-style-type: none; padding-top: 5px;"><a href="#">&emsp;Which Wich</a></li>
                </ul>
            </div>
        </div>
        <!-- Column made for Account sevices -->
        <div class="col-3 pt-2">
            <!--User Directory Optionss-->
            <p class="text-decoration-underline">Account</p>
            <div class="col ms-3">
        <!-- options for account settngs-->
            <li style="list-style-type: none; padding-top: 10px;"><a href="#">Preferences</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px;"><a href="#">Balance</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px;"><a href="#">My Account</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px;"><a href="#">Leave
                    Feedback</a></li>
            <li style="list-style-type: none; padding-top: 5px;"><a href="#">Log Out</a>
            </li>
            </div>
        </div>
    </div>
</div>
<hr class="solid" style="color: white; width: 1050px; margin-left: 80px; margin-right: auto;">
<div class="row">
    <!--Affirmative Action Statement-->
    <div class="col-4 my-1 ms-5">
        <!-- Disclaimer at the bottom of the page -->
        <p class="wvu">© 2021 West Virginia University. WVU is an EEO/Affirmative Action employer —
            Minority/Female/Disability/Veteran. Last updated on October 18, 2021.</p>
    </div>
</div>