<!-- Waldos Chicken carousel -->
<div id="myCarousel" class="carousel slide mx-auto shadow-lg" data-bs-ride="carousel" style="width: 300px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a routerLink="order">
                <!-- Waldos Chicken Restaurant Picture -->
                <img src="../../../assets/Waldo's-Chicken.jpg" style="width: 300px;" alt="Waldos">
                <div class="carousel-caption d-none d-md-block">
                    <!-- Restaurant name to be on uploaded picture -->
                    <h5 id="shadow">Waldo's Chicken</h5>
                </div>
            </a>
        </div>
<!-- Hissho Sushi carousel -->
        <div class="carousel-item">
            <a routerLink="order">
                <!-- Hissho Sushi Restaurant Picture -->
                <img src="../../../assets/Hissho Sushi.jpg" style="width: 300px;" alt="Hissho">
                <div class="carousel-caption d-none d-md-block">
                    <!-- Restaurant name to be on the uploaded picture -->
                    <h5 id="shadow">Hissho Sushi</h5>
                </div>
            </a>
        </div>
    </div>
    <!-- previous button with arrow to reverse carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        
        <span class="visually-hidden">Previous</span>
    </button>
    <!-- Next button to with arrow to advance carousel -->
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>