.pop-out {
    transition: transform .5s;
    margin-left: -15px;
}

.pop-out:hover {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.image-btn {
    background-color: transparent;
    border-color: darkgray;
}

.container-fluid {
    filter: alpha(Opacity=95);
    opacity: 0.95;
}

.vertical {
    border-left: 1.5px solid rgb(197, 197, 197);
    position: absolute;
    height: 230px;
}